{% extends 'filmes/base.html' %}
{% block conteudo %}
<h1 style="text-align: center;">Filmes já assistidos / Para assistir</h1>
<div class="container">
    
    
    <table class="table table-hover"> 
        <thead class="table-dark">
            <tr>
                <!-- <th>Id</th> -->
                <th>Filme</th>
                <th style="text-align: center;">Finalizado</th>
                <th>Resenha</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for dado in filmes%}
        <tbody>
            <tr>
                <!-- <td>{{dado.id}}</td> -->
                <td>{{dado.filme}}</td>
    
                {% if dado.finalizado %}
                <td style="text-align:center"><input disabled class="form-check-input" type="checkbox" value="" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Sim
                    </label>
                </td>
                {% else %}
                <td style="text-align:center"><input disabled class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                        Não
                    </label>
                </td>
                {% endif %}
    
                <td>{{dado.resenha}}</td>
                <td><button class='btn btn-info'><a style="color: white;" href="{% url 'detalhe' dado.id %}">Detalhe</a></button></td>
                <td><button class='btn btn-warning'><a style="color: white;" href="{% url 'editar' dado.id %}">Editar</a></button></td>
                <td><button class='btn btn-danger'><a style="color: white;" href="{% url 'exclusao' dado.id %}">Excluir</a></button></td>
        
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-dark" style="margin-top: 15px; margin-left: 70em;"><a style="color: white;" href="{% url 'novo_filme' %}">Novo Filme</a></button>
</div>
{% endblock %}